#imgheader{
    position: absolute;
    width: 100%;
    height: 170px;
    left: 0px;
    top: 0px;
    border: 6px black solid;

background: #124A7A;
}


.name{
    position: absolute;
    width: 436px;
    height: 81px;
    left: 259px;
    top: 12px;
}

.foto{
    
    position: absolute;
    width: 143px;
    height: 147px;
    left: 85px;
    top: 12px;
    margin-top: -4px;
    background: url(/src/assets/david.png);
    }


    .subn{
position: absolute;
width: 341px;
height: 41px;
left: 200px;
top: 50px;

font-family: 'RocknRoll One';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;

color: #000000;
    }